/*按钮*/
.btn-cyan{
    margin: 80% .3rem .4rem .3rem;
    height: .88rem;
    line-height: .88rem;
    color: #fff;
    border-radius: 5px;
    font-size: .36rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    background-color: #23becf;
    display: block;
    cursor: pointer;
}
.btn-cyan:active{
    background: #0CB2C5;
}